@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
/*Barra Scroll*/
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #b9aa92;
  border-right: 1px solid #e9d9c4;
}



/* Inicio Nav */
.nav-desktop {
  background-color: #e9d9c4;
  height: 4.68rem;
  width: 88.9%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4.68rem;
  padding-left: -2.5rem;
  /*flex-direction: row;*/
  position: fixed;
  z-index: 3;
 }

.logo-nav {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: normal;
  color: #5d4b2b;
  font-size: 28px;
  margin-left: 9.5rem;
  margin-right: 29.875rem;
  padding: 0 1.87rem;
  
  display: flex; }

.menu-nav {
  display: flex;
  list-style: none;
 }
  .menu-nav li {
    margin: 0 0.3125rem; }
  .menu-nav a {
    font-family: Montserrat-Regular;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: -10px;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: #5d4b2b; }

.enlace-nav {
  display: flex;
  list-style: none;
  margin-right: 0.31rem;
  /*margin-left: -0.31rem;*/ }

.redes-nav-ig {
  display: flex;
  justify-content: center;
  width: 16px;
  margin-left: -2rem;
  height: fit-content; }

.redes-nav-wp {
  display: flex;
  justify-content: center;
  width: 16px;
  margin-left: -2.18rem;
  height: fit-content; }

/* Fin Nav */
/* Inicio Contenido Principal */
.contenedor {
  background-color: #e9d9c4;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  display: grid;
  grid-template-columns: 3fr 1fr; }

.contenedor-imagenes {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 140px; }

.carrusel1 {
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
  margin-left: 100px;
  margin-right: -50px;
  margin-top: 150px; }

.carrusel2 {
  height: auto;
  width: auto;
  max-height: 500px;
  max-width: 500px;
  margin-left: 100px;
  margin-right: -300px;
  margin-top: 50px;
  /*margin-bottom: 20px;*/
 }

.carrusel3 {
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 300px;
  margin-left: 350px;
  margin-top: 350px; }

.div1,
.div2,
.div3 {
  text-align: center; }

.frase-imagen1 {
  color: #5d4b2b;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  position: absolute;
  top: 9.37rem;
  right: 61.875rem;
  font-size: 22px; }

.frase-imagen3 {
  color: #5d4b2b;
  position: absolute;
  top: 6.25rem;
  right: -18.75rem;
  margin-top: 100px;
  margin-bottom: -31.25rem;
  margin-right: 28.12rem;
  margin-left: 50rem;
  text-align: end;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  text-transform: inherit; }

/* Fin Contenido Principal */
/* Inicio Carrusel de Compras */
.contenedor-promociones {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  display: grid;
  text-align: center;
  grid-template-areas: "columna1 columna2 columna3"
 "imagen-promo1 imagen-promo2 imagen-promo3"
 "nombre-promo nombre-promo nombre-promo"
 "texto-promo texto-promo texto-promo";
  gap: 3px;
  background-color: #dbc8ae; }

.columna1 {
  grid-area: columna1; }

.columna2 {
  grid-area: columna2; }

.columna3 {
  grid-area: columna3; }

.titulo-principal-promo {
  width: auto;
  height: auto;
  max-width: 18.75rem;
  max-height: 18.75rem;
  display: grid;
  grid-template-columns: 3, 1fr;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: -179px;
  margin-right: -30px;
  margin-left: 31.25rem;
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  color: black;
  font-style: oblique;
  font-weight: lighter; }

.imagen-promo1 {
  height: auto;
  width: 18.75rem;
  max-height: 18.75rem;
  max-width: 18.75rem;
  margin-top: 9.375rem;
  margin-right: 5px;
  grid-area: imagen-promo1; }

.imagen-promo2 {
  height: auto;
  width: 18.75rem;
  max-height: 18.75rem;
  max-width: 18.75rem;
  margin-top: 9.375rem;
  margin-right: 1.56rem;
  grid-area: imagen-promo2; }

.imagen-promo3 {
  height: auto;
  width: 18.75rem;
  max-height: 18.75rem;
  max-width: 18.75rem;
  margin-top: 9.375rem;
  grid-area: imagen-promo3; }

/*.precio {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: end;
    margin-bottom: -50px;
    margin-right: 20px;
  }*/
.nombre-promo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: grid;
  justify-content: start;
  margin-left: 32px;
  margin-bottom: 15px;
  margin-top: 15px;
  grid-area: nombre-promo; }

.texto-promo1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-right: 100px;
  display: flex;
  justify-content: start;
  text-align: start;
  grid-area: texto-promo; }

.texto-promo2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-right: 100px;
  display: flex;
  justify-content: start;
  text-align: start;
  grid-area: texto-promo; }

.texto-promo3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-right: 140px;
  display: flex;
  justify-content: start;
  text-align: start;
  grid-area: texto-promo; }

.btn-precio {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 17.5px;
  text-decoration: none;
  display: flex;
  justify-content: start;
  color: black;
  margin-left: 31px;
  margin-bottom: 60px; }

.btn-precio:hover {
  color: #3d321d;
}

/* Fin Carrusel de Compras*/
/* Inicio Nosotros */
.contenedor-nosotros {
  background-color: #e9d9c4;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: -1100px;
  padding: 40px; }

.titulo-principal-nosotros {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: -180px;
  margin-right: -30px;
  margin-left: 500px;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  color: black;
  font-style: oblique;
  font-weight: lighter; }

.columna-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.imagen-nosotros1 {
  height: auto;
  width: 195px;
  max-height: 250px;
  max-width: 250px;
  margin-left: 60px;
  margin-right: -30px;
  margin-top: 350px;
  margin-bottom: -50px;
  position: absolute; }

.imagen-nosotros2 {
  height: auto;
  width: auto;
  max-height: 350px;
  max-width: 350px;
  margin-top: 200px;
  margin-left: 200px; }

.titulo-nosotros1 {
  color: #5d4b2b;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 120px; }

.parrafo-nosotros1 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-align: left;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 50px; }

.parrafo-nosotros2 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  text-align: left;
  margin-top: 15px;
  margin-right: 100px;
  margin-left: 50px; }

/* Fin Nosotros */
/* Inicio Testimonios */
.titulo-testimonios {
  color: #5d4b2b;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  text-transform:uppercase;
  margin-bottom: 80px;
}

.contenedor-testimonios {
  background-color: #e9d9c4;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: 600px;
  margin-bottom: -600px;
  padding:35px;
  text-align: center;
}
.parentTestimonios {
  display: grid;
  grid-template-areas: "div1-testimonios div2-testimonios div3-testimonios";
  grid-column-gap: 30px;
  justify-content: center;
  }
  .parentTestimonios img {
    max-width: 360px;
    border-radius: 10px;
  }

  .div1-testimonios {
    grid-area: div1-testimonios;
  } 
  .div2-testimonios {
    grid-area: div2-testimonios;
  }
  .div3-testimonios {
    grid-area: div3-testimonios;
  }

  .titulo-testimonios-mb {
  color: #5d4b2b;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  text-transform:uppercase;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 30px;
  }
  /* Fin Testimonios */

/* Inicio Tips */
/* Tip 1  */
.contenedor-tips1 {
  background-color: #dbc8ae;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px; }

.titulo-principal-tips {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 800px;
  margin-bottom: -150px;
  margin-right: -30px;
  margin-left: 500px;
  font-family: Lovelace-Italic-Bold;
  font-size: 55px;
  color: black;
  font-style: oblique;
  font-weight: lighter; }

.subtitulo-principal-tips {
  color: #5d4b2b;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  text-align: left;
  position: absolute;
  margin-top: 200px;
  margin-left: 150px;
  margin-right: 900px;
  margin-bottom: 50px; }

.columna-tips1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.titulo-tips1 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  margin-top: 450px;
  margin-left: 350px;
  margin-right: -170px; }

.parrafo-tips1 {
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  text-align: right;
  margin-top: 15px;
  margin-right: -170px;
  margin-left: 550px; }

.imagen-tips1 {
  height: auto;
  width: 195px;
  max-height: 200px;
  max-width: 200px;
  margin-left: 60px;
  margin-right: -30px;
  margin-top: 250px;
  margin-bottom: -50px;
  position: absolute;
  z-index: 1; }

.imagen-tips2 {
  height: auto;
  width: auto;
  max-height: 450px;
  max-width: 450px;
  margin-top: 150px;
  margin-left: 200px; }

.imagen-tips2:hover {
  filter: grayscale(80%); }

/* Tip 1  */
/* Tip 2 */
.contenedor-tips2 {
  background-color: #dbc8ae;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: -700px;
  padding: 40px; }

.columna-tips {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.titulo-tips2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  margin-top: -950px;
  margin-left: 380px;
  margin-right: 250px; }

.parrafo-tips2 {
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: -40px;
  margin-right: 250px;
  margin-left: 380px; }

.video-tips {
  height: auto;
  width: auto;
  max-height: 550px;
  max-width: 450px;
  margin-top: 150px;
  margin-bottom: 20px;
  margin-left: -200px; }

/* Tip 2 */
/* Tip 3 */
.contenedor-tips3 {
  background-color: #dbc8ae;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px; }

.titulo-tips3 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  margin-top: 420px;
  margin-left: 350px;
  margin-right: -170px; }

.parrafo-tips3 {
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  text-align: right;
  margin-top: 15px;
  margin-right: -170px;
  margin-left: 300px; }

.imagen-tips4 {
  height: auto;
  width: auto;
  max-height: 450px;
  max-width: 450px;
  margin-top: 150px;
  margin-left: 200px; }

/* Tip 3 */
/* Fin Tips */
/* Inicio Inspo */
.contenedor-inspo {
  background-color: #dbc8ae;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px; }
  .contenedor-inspo .inspo {
    height: auto;
    width: auto;
    max-height: 1200px;
    max-width: 1200px;
    margin-top: -600px;
    margin-left: -40px; }

/* Fin Inspo */
/* Inicio Footer */
  .pie-pagina{
    width: 100%;
    background-color: #bba88e;
  }
  .pie-pagina .grup-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }

  .pie-pagina .grup-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pie-pagina .grup-1 .box figure img {
    width: 250px;
  }
  .pie-pagina .grup-1 .box h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    color: #3d321d;
    font-size: 20px;
  }
  .pie-pagina .grup-1 .box p {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #3d321d;
    margin-bottom: 10px;
  }
  .pie-pagina .grup-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #5d4b2b;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grup-1 .red-social a:hover{
    color: #8a7044;
  }

  .pie-pagina .grup-2{
    background-color: #ac997f;
    padding: 15px 10px;
    text-align: center;

  }
  .pie-pagina .grup-2 small{
    font-size: 15px;
  }
  

/* Fin Footer */
/* Inicio Sección Turnos */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

.boton-volver-izq {
  font-size: 1.56rem;
  margin-top: 4.37rem;
  text-decoration: none;
  color: #3d321d;
}

.boton-volver-der {
  display: flex;
  justify-content: end;
  font-size: 25px;
  margin-top: -28px;
  text-decoration: none;
  color: #3d321d;
}

.formulario {
  display: flex;
}

.contenedor-seccion-promociones {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  display: grid;
  text-align: center;
  grid-template-areas: "columna1 columna2 columna3"
  "imagen-promo1 imagen-promo2 imagen-promo3"
  "nombre-promo nombre-promo nombre-promo"
  "texto-promo texto-promo texto-promo";
  gap: 3px;
  background-color: #dbc8ae;
  }

.contenedor-seccion-promociones2 {
  width: 90%;
  max-width: 1200px;
  margin: -110px auto auto auto;
  padding: 0px 40px 40px 40px;
  display: grid;
  text-align: center;
  grid-template-areas: "columna1 columna2 columna3"
 "imagen-promo1 imagen-promo2 imagen-promo3"
 "nombre-promo nombre-promo nombre-promo"
 "texto-promo texto-promo texto-promo";
  gap: 3px;
  background-color: #dbc8ae;
}

.container-general-form {
  background-color: #dbc8ae;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-form1 {
  margin-top: 80px;
  margin-left: 80px;
  margin-bottom: 150px;
  text-align: center;
}

.zonas-depi {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.titulo-principal-form {
  width: auto;
  height: auto;
  max-width: 38.75rem;
  max-height: 18.75rem;
  display: flex;
  margin-top: 90px;
  margin-left: 280px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 3.75rem;
  color: black;
  font-style: normal;
  font-weight: lighter;
}

.parrafo-form {
  font-family: 'Playfair Display', serif;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.formulario {
  font-size: 1.18rem;
  font-family: 'Playfair Display', serif;
  margin-top: 3.12rem;
  margin-bottom: 10px;
  
}

.container-botonAP {
  width: 90%;
  max-width: 75rem;
  margin: auto;
  padding: 2.5rem;
  background-color: #dbc8ae;
  display: flex;
  justify-content: center;
}

.boton-armarpack {
  background-color: #5d4b2b;
  margin-top: -70px;
  margin-bottom: 40px;
}

.enlace-botonAP {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.enlace-botonAP:hover {
  color: rgb(230, 230, 230);
}


    
/* Fin Sección Turnos */
/* Inicio FAQs*/
.container-faqs {
  width: 50%;
  margin-left: 330px;
  margin-top: 200px;
}
.titulo-principal-faq {
  width: auto;
  height: auto;
  max-width: 18.75rem;
  max-height: 18.75rem;
  display: flex;
  justify-content: center;
  margin-top: -5.62rem;
  margin-left: 180px;
  font-family: 'Playfair Display', serif;
  font-size: 3.75rem;
  color: black;
  font-style: oblique;
  font-weight: lighter;
  /*position: relative;
  z-index: 2;
  top: 100px;*/
  
}
.titulos-faq{
  font-family: 'Playfair Display', serif;
}
/* Fin FAQs */
/* Inicio Vista Mobile */
.color-nav-mb {
  background-color: #e9d9c4;
}
.enlace-nav-mb{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #5d4b2b;
}
.nav-mobile {
  background-color: #e9d9c4;
  height: 4.6875rem;
  width: 90%;
  list-style: none;
  display: none;
}

.nav-mobile li {
  list-style: none; }

.nav-mobile ul li a {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; }

.icono-info-mb {
  width: 10%;
  height: 10%;
  display: none;
 }

.icono-tips-mb {
  width: 10%;
  height: 10%;
  display: none;
 }

/* Fin Vista Mobile */
/* Inicio Fuentes */
@font-face {
  font-family: Lovelace-Bold-Italic;
  src: url(/multimedia/fonts/lovelace/Lovelace-Bold-Italic.ttf); }

@font-face {
  font-family: Lovelace-Regular;
  src: url(/multimedia/fonts/lovelace/Lovelace-Regular.ttf); }

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(/multimedia/fonts/montserrat/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: Montserrat-Regular;
  src: url(/multimedia/fonts/montserrat/Montserrat-Regular.ttf); }

/* Fin Fuentes */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

.body-inicio-turnos {
  background-color: #5d4b2b; }
.body-faq{
  background-color: #e9d9c4;
}

.nav-mobile, .icono-info-mb, .icono-tips-mb, .carrusel-mobile, .container-nosotros-mb, .titulo-principal-nosotros-mb, .parrafo-nosotros-mb, .contenedor-promociones-mb, .contenedor-tips-mb, .titulo-principal-tips-mb, .subtitulo-tips-mb, .texto-tip-mb, .pie-de-pagina-mb, .ig-footer-mb, .wp-footer-mb, .contactanos-mb {
  display: none; }

    /* Inicio  @media queries */

    @media screen and (max-width: 575.98px) {
      .body-inicio-turnos {
        background-color: #e9d9c4; }
  
      .nav-desktop {
        display: none;
      }
      
      .logo-nav-mobile {
        font-family: 'Playfair Display', serif;
        color: #5d4b2b;
        font-size: 30px;
        font-weight: 800;
      }
      
        .carrusel-mobile {
          display: flex;
        }
      
        .frase-imagen1, .frase-imagen3, .carrusel1, .carrusel2,.carrusel3 {
          display: none;
        }
      
        .carrusel3 {
          display: none;
        }
      
        .carrusel1mb {
          max-width: fit-content;
        }
      
      .titulo-principal-promo {
        display: flex;
        text-align: center;
        font-size: 40px;
        margin: auto;
        padding-top: auto;
      }

        .contenedor-promociones {
        
          grid-template-areas: "columna1"
                               "columna2"
                               "columna3";
          row-gap: -300px;
          margin-left: -1.25rem;
          padding: none;
          background-color: rgb(233, 217, 196);
          align-items: center;
          justify-content: center;
          margin: auto;
          row-gap: 50px;
      }
      
      .imagen-promo1, .imagen-promo2, .imagen-promo3 {
        height: auto;
        width: 18.75rem;
        max-height: 18.75rem;
        max-width: 18.75rem;
        margin: auto;
        padding: auto;
        grid-area: imagen-promo1;
      }
      
      
      .texto-promo1, 
      .texto-promo2, 
      .texto-promo3,
      .nombre-promo,
      .btn-precio{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 1.25rem 0.62rem;
        padding: auto;
      }
      
      .contenedor-nosotros {
        display: none;
      }
      
      .titulo-principal-nosotros {
        display: none;
      }
      
      .container-nosotros-mb {
        display: flex;
        margin-top: 1.25rem;
      }
      
      .titulo-principal-nosotros-mb {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        color: black;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        font-style: oblique;
        font-weight: lighter;
      }
      .parrafo-nosotros-mb {
        display: flex;
        text-align: center;
        margin-top: 0.5rem;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        padding: 25px;
      }

      .parentTestimonios {
        display: none;
        }
        .titulo-testimonios {
          display: none;
        }
      
      .contenedor-tips-mb {
        display: grid;
        grid-template-areas: "columna1"
                             "columna2"
                             "columna3";
          
          margin-left: -1.25rem;
          padding: none;
          background-color: rgb(233, 217, 196);
          align-items: center;
          justify-content: center;
          margin: auto;
          row-gap: 50px;
      }
      
      .imagen-tips1, .imagen-tips2, .imagen-tips3 {
        position: relative;
        display:grid;
        height: auto;
        width: 18.75rem;
        max-height: 18.75rem;
        max-width: 18.75rem;
        margin: auto;
        padding: auto;
      }
      
      
      .titulo-principal-tips {
        display: none;
      }
      
      .subtitulo-principal-tips{
        display: none;
      }
      
      .titulo-principal-tips-mb {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 2rem;
        color: black;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        font-style: oblique;
        font-weight: lighter;
      }
      
      .subtitulo-tips-mb {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 50px 25px;
        padding-bottom: 45px;
        font-size: 25px;
        font-family: 'Playfair Display', serif;
        font-style: oblique;
        font-weight: lighter;
        color: #5d4b2b;
      }
      
      .nombre-tip-mb {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        font-weight: 800;
        font-style: bold;
        text-align: center;
        text-transform: uppercase;
        padding-top: 15px;
        margin: 1.25rem 0.62rem;
      }
      
      .texto-tip-mb {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 1.25rem 0.62rem;
        padding: auto;
        font-family: 'Playfair Display', serif;
      }
      
      .contenedor-tips1, .contenedor-tips2, .contenedor-tips3 {
        display: none;
      }
      
      .contenedor-inspo {
        display: none;
      }
      
      .contenedor-seccion-promociones{
        grid-template-areas: "columna1"
                             "columna2"
                             "columna3";
        row-gap: -300px;
        margin-left: -1.25rem;
        padding: none;
        background-color: rgb(233, 217, 196);
        align-items: center;
        justify-content: center;
        margin: auto;
        row-gap: 50px;
      }
        .contenedor-seccion-promociones2{
        grid-template-areas: "columna1"
                             "columna2"
                             "columna3";
        row-gap: -300px;
        margin-left: -1.25rem;
        padding: none;
        background-color: rgb(233, 217, 196);
        align-items: center;
        justify-content: center;
        margin: auto;
        row-gap: 50px;
      }

      .container-botonAP {
        width: 90%;
        max-width: 75rem;
        margin: auto;
        padding: 2.5rem;
        background-color: #e9d9c4;
        display: flex;
        justify-content: center;
      }

      .container-general-form {
        background-color: #e9d9c4;
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 40px;
      }


      .titulo-principal-form{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        font-size: 40px;
        margin: 25px;
      }

      .parrafo-form {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        margin: 25px;
      }

      .formulario {
        width: auto;
        height: auto;
        display: block;
        justify-content: center;
        text-align: left;
      }

      .boton-volver-der {
        margin-top: -1.81rem;
      }
      .boton-volver-izq {
        margin-top: auto;
      }

      .zonas-depi {
        margin: auto;
      }

      .container-faqs {
        width: 100%;
        margin-left: 0px;
      }

      .titulo-principal-faq {
        width: auto;
        font-size: 1.875rem;
        display: flex;
        justify-content: center;
        margin: -10.62rem auto auto auto;
      }

      }
    
      @media (max-width: 767.98px) { 

        .body-inicio-turnos {
          background-color: #e9d9c4; }

        .nav-desktop {
          display: none;
        }
        
        .logo-nav-mobile {
          font-family: 'Playfair Display', serif;
          color: #5d4b2b;
          font-size: 35px;
          font-weight: 800;
          display: flex;
          justify-content: start;
        }
        
          .carrusel-mobile {
            display: flex;
          }
        
          .frase-imagen1, .frase-imagen3, .carrusel1, .carrusel2,.carrusel3 {
            display: none;
          }
        
          .carrusel3 {
            display: none;
          }
        
          .carrusel1mb {
            max-width: fit-content;
          }
        
        .titulo-principal-promo {
          display: flex;
          text-align: center;
          font-size: 40px;
          margin: auto;
          padding-top: auto;
        }

          .contenedor-promociones {
          
            grid-template-areas: "columna1"
                                 "columna2"
                                 "columna3";
            row-gap: -300px;
            margin-left: -1.25rem;
            padding: none;
            background-color: rgb(233, 217, 196);
            align-items: center;
            justify-content: center;
            margin: auto;
            row-gap: 50px;
        }
        
        .imagen-promo1, .imagen-promo2, .imagen-promo3 {
          height: auto;
          width: 18.75rem;
          max-height: 18.75rem;
          max-width: 18.75rem;
          margin: auto;
          padding: auto;
          grid-area: imagen-promo1;
        }
        
        
        .texto-promo1, 
        .texto-promo2, 
        .texto-promo3,
        .nombre-promo,
        .btn-precio{
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 1.25rem 0.62rem;
          padding: auto;
        }
        
        .contenedor-nosotros {
          display: none;
        }
        
        .titulo-principal-nosotros {
          display: none;
        }
        
        .container-nosotros-mb {
          display: flex;
          margin-top: 1.25rem;
        }
        
        .titulo-principal-nosotros-mb {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: auto;
          padding-top: 5rem;
          padding-bottom: 5rem;
          color: black;
          font-size: 40px;
          font-family: 'Playfair Display', serif;
          font-style: oblique;
          font-weight: lighter;
        }
        .parrafo-nosotros-mb {
          display: flex;
          text-align: center;
          margin-top: 0.5rem;
          font-family: 'Playfair Display', serif;
          font-size: 18px;
          padding: 25px;
        }

        .parentTestimonios {
          display: none;
          }
          .titulo-testimonios {
            display: none;
          }
        
        .contenedor-tips-mb {
          display: grid;
          grid-template-areas: "columna1"
                               "columna2"
                               "columna3";
            
            margin-left: -1.25rem;
            padding: none;
            background-color: rgb(233, 217, 196);
            align-items: center;
            justify-content: center;
            margin: auto;
            row-gap: 50px;
        }
        
        .imagen-tips1, .imagen-tips2, .imagen-tips3 {
          position: relative;
          display:grid;
          height: auto;
          width: 18.75rem;
          max-height: 18.75rem;
          max-width: 18.75rem;
          margin: auto;
          padding: auto;
        }
        
        
        .titulo-principal-tips {
          display: none;
        }
        
        .subtitulo-principal-tips{
          display: none;
        }
        
        .titulo-principal-tips-mb {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: auto;
          padding-top: 5rem;
          padding-bottom: 2rem;
          color: black;
          font-size: 40px;
          font-family: 'Playfair Display', serif;
          font-style: oblique;
          font-weight: lighter;
        }
        
        .subtitulo-tips-mb {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 50px 25px;
          padding-bottom: 45px;
          font-size: 25px;
          font-family: 'Playfair Display', serif;
          font-style: oblique;
          font-weight: lighter;
          color: #5d4b2b;
        }
        
        .nombre-tip-mb {
          font-family: 'Playfair Display', serif;
          font-size: 20px;
          font-weight: 800;
          font-style: bold;
          text-align: center;
          text-transform: uppercase;
          padding-top: 15px;
          margin: 1.25rem 0.62rem;
        }
        
        .texto-tip-mb {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 1.25rem 0.62rem;
          padding: auto;
          font-family: 'Playfair Display', serif;
        }
        
        .contenedor-tips1, .contenedor-tips2, .contenedor-tips3 {
          display: none;
        }
        
        .contenedor-inspo {
          display: none;
        }
        
        .pie-pagina .grup-1{
          width: 90%;
          grid-template-columns: repeat(1,1fr);
          grid-gap: 30px;
          padding: 35px 0px;
        }

        .contenedor-seccion-promociones{
          grid-template-areas: "columna1"
                               "columna2"
                               "columna3";
          row-gap: -300px;
          margin-left: -1.25rem;
          padding: none;
          background-color: rgb(233, 217, 196);
          align-items: center;
          justify-content: center;
          margin: auto;
          row-gap: 50px;
        }
          .contenedor-seccion-promociones2{
          grid-template-areas: "columna1"
                               "columna2"
                               "columna3";
          row-gap: -300px;
          margin-left: -1.25rem;
          padding: none;
          background-color: rgb(233, 217, 196);
          align-items: center;
          justify-content: center;
          margin: auto;
          row-gap: 50px;
        }

        .container-botonAP {
          width: 90%;
          max-width: 75rem;
          margin: auto;
          padding: 2.5rem;
          background-color: #e9d9c4;
          display: flex;
          justify-content: center;
        }
        
        .container-general-form {
          background-color: #dbc8ae;
          width: 90%;
          max-width: 1200px;
          margin: auto;
          padding: 40px;
        }

        .titulo-principal-form{
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          font-size: 40px;
          margin: 25px;
        }
  
        .parrafo-form {
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 20px;
          margin: 25px;
        }
  
        .formulario {
          width: auto;
          height: auto;
          display: block;
          justify-content: center;
          text-align: left;
        }
  
        .boton-volver-der {
          margin-top: -1.81rem;
        }
        .boton-volver-izq {
          margin-top: auto;
        }
  
        .zonas-depi {
          margin: auto;
        }

        .container-faqs {
          width: 100%;
          margin-left: 0px;
        }

        .titulo-principal-faq {
          width: auto;
          font-size: 1.875rem;
          display: flex;
          justify-content: center;
          margin: -10.62rem auto auto auto;
        }
       }
    
       @media (max-width: 991.98px) { 

        .body-inicio-turnos {
          background-color: #e9d9c4; }

        .nav-desktop {
          display: none;
        }

        .logo-nav-mobile {
          font-family: 'Playfair Display', serif;
          color: #5d4b2b;
          font-size: 35px;
          font-weight: 800;
          display: flex;
          justify-content: start;
        }
        
          .carrusel-mobile {
            display: flex;
          }
        
          .frase-imagen1, .frase-imagen3, .carrusel1, .carrusel2,.carrusel3 {
            display: none;
          }
        
          .carrusel3 {
            display: none;
          }
        
          .carrusel1mb {
            max-width: fit-content;
          }
        
        .titulo-principal-promo {
          display: flex;
          text-align: center;
          font-size: 40px;
          margin: auto;
          padding-top: auto;
        }
        
          .contenedor-promociones {
          
            grid-template-areas: "columna1"
                                 "columna2"
                                 "columna3";
            row-gap: -300px;
            margin-left: -1.25rem;
            padding: none;
            background-color: rgb(233, 217, 196);
            align-items: center;
            justify-content: center;
            margin: auto auto auto auto;
            row-gap: 50px;
        }
        
        .imagen-promo1, .imagen-promo2, .imagen-promo3 {
          height: auto;
          width: 18.75rem;
          max-height: 18.75rem;
          max-width: 18.75rem;
          margin: auto;
          padding: auto;
          grid-area: imagen-promo1;
        }
        
        
        .texto-promo1, 
        .texto-promo2, 
        .texto-promo3,
        .nombre-promo,
        .btn-precio{
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 1.25rem 0.62rem;
          padding: auto;
        }
        
        .contenedor-nosotros {
          display: none;
        }
        
        .titulo-principal-nosotros {
          display: none;
        }
        
        .container-nosotros-mb {
          display: flex;
          margin-top: 1.25rem;
        }
        
        .titulo-principal-nosotros-mb {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: auto;
          padding-top: 5rem;
          padding-bottom: 5rem;
          color: black;
          font-size: 40px;
          font-family: 'Playfair Display', serif;
          font-style: oblique;
          font-weight: lighter;
        }
        .parrafo-nosotros-mb {
          display: flex;
          text-align: center;
          margin-top: 0.5rem;
          font-family: 'Playfair Display', serif;
          font-size: 18px;
          padding: 25px;
        }

        .parentTestimonios {
          display: none;
          }
          .titulo-testimonios {
            display: none;
          }
        
        .contenedor-tips-mb {
          display: grid;
          grid-template-areas: "columna1"
                               "columna2"
                               "columna3";
            
            margin-left: -1.25rem;
            padding: none;
            background-color: rgb(233, 217, 196);
            align-items: center;
            justify-content: center;
            margin: auto;
            row-gap: 50px;
        }
        
        .imagen-tips1, .imagen-tips2, .imagen-tips3 {
          position: relative;
          display:grid;
          height: auto;
          width: 18.75rem;
          max-height: 18.75rem;
          max-width: 18.75rem;
          margin: auto;
          padding: auto;
        }
        
        
        .titulo-principal-tips {
          display: none;
        }
        
        .subtitulo-principal-tips{
          display: none;
        }
        
        .titulo-principal-tips-mb {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: auto;
          padding-top: 5rem;
          padding-bottom: 2rem;
          color: black;
          font-size: 40px;
          font-family: 'Playfair Display', serif;
          font-style: oblique;
          font-weight: lighter;
        }
        
        .subtitulo-tips-mb {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 50px 25px;
          padding-bottom: 45px;
          font-size: 25px;
          font-family: 'Playfair Display', serif;
          font-style: oblique;
          font-weight: lighter;
          color: #5d4b2b;
        }
        
        .nombre-tip-mb {
          font-family: 'Playfair Display', serif;
          font-size: 20px;
          font-weight: 800;
          font-style: bold;
          text-align: center;
          text-transform: uppercase;
          padding-top: 15px;
          margin: 1.25rem 0.62rem;
        }
        
        .texto-tip-mb {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 1.25rem 0.62rem;
          padding: auto;
          font-family: 'Playfair Display', serif;
        }
        
        .contenedor-tips1, .contenedor-tips2, .contenedor-tips3 {
          display: none;
        }
        
        .contenedor-inspo {
          display: none;
        }

        .container-faqs {
          width: 100%;
          margin-left: 0px;
        }

        .titulo-principal-faq {
          width: auto;
          font-size: 1.875rem;
          display: flex;
          justify-content: center;
          margin: -10.62rem auto auto auto;
        }

        .contenedor-seccion-promociones{
          grid-template-areas: "columna1"
                               "columna2"
                               "columna3";
          row-gap: -300px;
          margin-left: -1.25rem;
          padding: none;
          background-color: rgb(233, 217, 196);
          align-items: center;
          justify-content: center;
          margin: auto;
          row-gap: 50px;
        }
          .contenedor-seccion-promociones2{
          grid-template-areas: "columna1"
                               "columna2"
                               "columna3";
          row-gap: -300px;
          margin-left: -1.25rem;
          padding: none;
          background-color: rgb(233, 217, 196);
          align-items: center;
          justify-content: center;
          margin: auto;
          row-gap: 50px;
        }

        .container-botonAP {
          width: 90%;
          max-width: 75rem;
          margin: auto;
          padding: 2.5rem;
          background-color: #e9d9c4;
          display: flex;
          justify-content: center;
        }
        
        .container-general-form {
          background-color: #e9d9c4;
          width: 90%;
          max-width: 1200px;
          margin: auto;
          padding: 40px;
        }

        .titulo-principal-form{
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 40px;
          margin: 25px;
        }
  
        .parrafo-form {
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 20px;
          margin: 25px;
        }
  
        .formulario {
          width: auto;
          height: auto;
          display: block;
          justify-content: center;
          text-align: left;
        }
  
        .boton-volver-der {
          margin-top: -1.81rem;
        }
        .boton-volver-izq {
          margin-top: auto;
        }
  
        .zonas-depi {
          margin: auto;
        }
        
        }
        
        @media (min-width: 1200px) { 
          .nav-desktop {
            width: 87.9%;
            background-color: #e9d9c4;
            height: 4.68rem;
            width: 88.5%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 4.9rem;
            padding-left: -2.5rem;
            position: fixed;
            z-index: 3;
          }
         }
      /* Fin @media queries */