@charset "UTF-8";
/* Inicio Nav */
nav {
  background-color: #e9d9c4;
  height: 4.68rem;
  width: 90%;
  margin-left: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.logo-nav {
  text-align: center;
  font-family: Lovelace-Italic-Bold;
  color: #5d4b2b;
  font-size: 35px;
  margin-left: 12.5rem;
  margin-right: 21.875rem;
  padding: 0 1.87rem;
  font-weight: bold;
  display: flex; }

.menu-nav {
  display: flex;
  list-style: none;
  margin-right: 0px;
  flex-direction: row; }
  .menu-nav li {
    border-radius: 3px;
    margin: 0 0.3125rem; }
  .menu-nav a {
    font-family: Montserrat-Regular;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: -10px;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    display: block;
    color: #5d4b2b; }

.enlace-nav {
  display: flex;
  list-style: none;
  margin-right: 0.31rem;
  margin-left: -0.31rem; }

.redes-nav-ig {
  display: flex;
  justify-content: center;
  width: 16px;
  margin-left: 3.12rem;
  height: fit-content; }

.redes-nav-wp {
  display: flex;
  justify-content: center;
  width: 16px;
  margin-left: -70px;
  height: fit-content; }

/* Fin Nav */
/* Inicio Contenido Principal */
.contenedor {
  background-color: #e9d9c4;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  display: grid;
  grid-template-columns: 3fr 1fr; }

.contenedor-imagenes {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 50px; }

.carrusel1 {
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
  margin-left: 100px;
  margin-right: -50px;
  margin-top: 80px; }

.carrusel2 {
  height: auto;
  width: auto;
  max-height: 500px;
  max-width: 500px;
  margin-left: 100px;
  margin-right: -300px;
  margin-top: -20px; }

.carrusel3 {
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 300px;
  margin-left: 350px;
  margin-top: 280px; }

.div1,
.div2,
.div3 {
  text-align: center; }

.frase-imagen1 {
  color: #5d4b2b;
  font-family: Lovelace-Italic-Bold;
  position: absolute;
  top: 150px;
  right: 1005px;
  font-size: 22px; }

.frase-imagen3 {
  color: #5d4b2b;
  position: absolute;
  top: 100px;
  right: -300px;
  margin-top: 100px;
  margin-bottom: -500px;
  margin-right: 450px;
  margin-left: 800px;
  text-align: end;
  font-size: 50px;
  font-family: Lovelace-Italic-Bold;
  text-transform: inherit; }

/* Fin Contenido Principal */
/* Inicio Carrusel de Compras */
.contenedor-promociones {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  display: grid;
  text-align: center;
  grid-template-areas: "columna1 columna2 columna3" "imagen-promo1 imagen-promo2 imagen-promo3" "nombre-promo nombre-promo nombre-promo" "texto-promo texto-promo texto-promo";
  gap: 3px;
  background-color: #dbc8ae; }

.columna1 {
  grid-area: columna1; }

.columna2 {
  grid-area: columna2; }

.columna3 {
  grid-area: columna3; }

.titulo-principal-promo {
  width: auto;
  height: auto;
  max-width: 18.75rem;
  max-height: 18.75rem;
  display: grid;
  grid-template-columns: 3, 1fr;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: -179px;
  margin-right: -30px;
  margin-left: 31.25rem;
  font-family: Lovelace-Italic-Bold;
  font-size: 55px;
  color: black;
  font-style: oblique;
  font-weight: lighter; }

.imagen-promo1 {
  height: auto;
  width: 18.75rem;
  max-height: 18.75rem;
  max-width: 18.75rem;
  margin-top: 9.375rem;
  margin-right: 5px;
  grid-area: imagen-promo1; }

.imagen-promo2 {
  height: auto;
  width: 18.75rem;
  max-height: 18.75rem;
  max-width: 18.75rem;
  margin-top: 9.375rem;
  margin-right: 1.56rem;
  grid-area: imagen-promo2; }

.imagen-promo3 {
  height: auto;
  width: 18.75rem;
  max-height: 18.75rem;
  max-width: 18.75rem;
  margin-top: 9.375rem;
  grid-area: imagen-promo3; }

/*.precio {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: end;
    margin-bottom: -50px;
    margin-right: 20px;
  }*/
.nombre-promo {
  font-family: Montserrat-SemiBold;
  font-weight: 400;
  font-size: 16px;
  display: grid;
  justify-content: start;
  margin-left: 32px;
  margin-bottom: 15px;
  margin-top: 15px;
  grid-area: nombre-promo; }

.texto-promo1 {
  font-family: Montserrat-Regular;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-right: 100px;
  display: flex;
  justify-content: start;
  text-align: start;
  grid-area: texto-promo; }

.texto-promo2 {
  font-family: Montserrat-Regular;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-right: 100px;
  display: flex;
  justify-content: start;
  text-align: start;
  grid-area: texto-promo; }

.texto-promo3 {
  font-family: Montserrat-Regular;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-right: 140px;
  display: flex;
  justify-content: start;
  text-align: start;
  grid-area: texto-promo; }

.btn-precio {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 17.5px;
  text-decoration: none;
  display: flex;
  justify-content: start;
  color: black;
  margin-left: 31px;
  margin-bottom: 60px; }

/* Fin Carrusel de Compras*/
/* Inicio Nosotros */
.contenedor-nosotros {
  background-color: #e9d9c4;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: -1100px;
  padding: 40px; }

.titulo-principal-nosotros {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: -180px;
  margin-right: -30px;
  margin-left: 500px;
  font-family: Lovelace-Italic-Bold;
  font-size: 55px;
  color: black;
  font-style: oblique;
  font-weight: lighter; }

.columna-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.imagen-nosotros1 {
  height: auto;
  width: 195px;
  max-height: 250px;
  max-width: 250px;
  margin-left: 60px;
  margin-right: -30px;
  margin-top: 350px;
  margin-bottom: -50px;
  position: absolute; }

.imagen-nosotros2 {
  height: auto;
  width: auto;
  max-height: 350px;
  max-width: 350px;
  margin-top: 200px;
  margin-left: 200px; }

.titulo-nosotros1 {
  color: #5d4b2b;
  font-family: Lovelace-Italic-Bold;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 120px; }

.parrafo-nosotros1 {
  font-family: Lovelace-Italic-Bold;
  font-size: 18px;
  text-align: left;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 50px; }

.parrafo-nosotros2 {
  font-family: Lovelace-Italic-Bold;
  font-size: 18px;
  text-align: left;
  margin-top: 15px;
  margin-right: 100px;
  margin-left: 50px; }

/* Fin Nosotros */
/* Inicio Tips */
/* Tip 1  */
.contenedor-tips1 {
  background-color: #dbc8ae;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px; }

.titulo-principal-tips {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 800px;
  margin-bottom: -150px;
  margin-right: -30px;
  margin-left: 500px;
  font-family: Lovelace-Italic-Bold;
  font-size: 55px;
  color: black;
  font-style: oblique;
  font-weight: lighter; }

.subtitulo-principal-tips {
  color: #5d4b2b;
  font-family: Lovelace-Italic-Bold;
  font-weight: inherit;
  font-size: 26px;
  font-style: italic;
  text-align: left;
  position: absolute;
  margin-top: 200px;
  margin-left: 150px;
  margin-right: 900px;
  margin-bottom: 50px; }

.columna-tips1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.titulo-tips1 {
  font-family: Lovelace-Italic-Bold;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  margin-top: 450px;
  margin-left: 350px;
  margin-right: -170px; }

.parrafo-tips1 {
  font-family: Lovelace-Italic-Bold;
  font-size: 17px;
  text-align: right;
  margin-top: 15px;
  margin-right: -170px;
  margin-left: 550px; }

.imagen-tips1 {
  height: auto;
  width: 195px;
  max-height: 200px;
  max-width: 200px;
  margin-left: 60px;
  margin-right: -30px;
  margin-top: 250px;
  margin-bottom: -50px;
  position: absolute;
  z-index: 1; }

.imagen-tips2 {
  height: auto;
  width: auto;
  max-height: 450px;
  max-width: 450px;
  margin-top: 150px;
  margin-left: 200px; }

.imagen-tips2:hover {
  filter: grayscale(80%); }

/* Tip 1  */
/* Tip 2 */
.contenedor-tips2 {
  background-color: #dbc8ae;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: -700px;
  padding: 40px; }

.columna-tips {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.titulo-tips2 {
  font-family: Lovelace-Italic-Bold;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  margin-top: -950px;
  margin-left: 380px;
  margin-right: 250px; }

.parrafo-tips2 {
  font-family: Lovelace-Italic-Bold;
  font-size: 17px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: -40px;
  margin-right: 250px;
  margin-left: 380px; }

/*.imagen-tips3 {
    height: auto;
    width: 195px;
    max-height: 200px;
    max-width: 200px;
    margin-left: -110px;
    margin-right: -30px;
    margin-top: 500px;
    margin-bottom: -50px;
    position: absolute;
    z-index: 1;
  }*/
.video-tips {
  height: auto;
  width: auto;
  max-height: 550px;
  max-width: 450px;
  margin-top: 150px;
  margin-bottom: 20px;
  margin-left: -200px; }

/* Tip 2 */
/* Tip 3 */
.contenedor-tips3 {
  background-color: #dbc8ae;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px; }

.titulo-tips3 {
  font-family: Lovelace-Italic-Bold;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  margin-top: 420px;
  margin-left: 350px;
  margin-right: -170px; }

.parrafo-tips3 {
  font-family: Lovelace-Italic-Bold;
  font-size: 17px;
  text-align: right;
  margin-top: 15px;
  margin-right: -170px;
  margin-left: 300px; }

.imagen-tips4 {
  height: auto;
  width: auto;
  max-height: 450px;
  max-width: 450px;
  margin-top: 150px;
  margin-left: 200px; }

/* Tip 3 */
/* Fin Tips */
/* Inicio Inspo */
.contenedor-inspo {
  background-color: #dbc8ae;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px; }

.inspo {
  height: auto;
  width: auto;
  max-height: 1200px;
  max-width: 1200px;
  margin-top: -600px;
  margin-left: -40px; }

/* Fin Inspo */
/* Inicio Footer */
.pie-de-pagina {
  display: flex;
  width: 90%;
  max-width: 1200px;
  background-color: #bba88e;
  margin-left: 72px;
  padding: 40px; }
  .pie-de-pagina .grupo-1 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: 40px 0px; }
  .pie-de-pagina .grupo-2 {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: 40px 0px; }
  .pie-de-pagina p {
    margin-left: 100px; }

.contactanos {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  justify-content: left;
  margin-left: 150px;
  margin-bottom: 75px;
  font-family: Lovelace-Italic-Bold;
  font-size: 55px;
  color: black;
  font-style: oblique;
  font-weight: lighter; }

.escribinos {
  text-align: left;
  font-family: Lovelace-Italic-Bold;
  color: black;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 15px;
  font-size: 15px; }

.nuestras-redes {
  text-align: left;
  font-family: Lovelace-Italic-Bold;
  color: black;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 15px;
  font-size: 15px; }

.ig-footer {
  font-family: Lovelace-Italic-Bold;
  color: black;
  text-decoration: none; }

.wp-footer {
  font-family: Lovelace-Italic-Bold;
  text-decoration: none;
  color: black; }

.derechos {
  justify-content: left;
  margin-left: 115px; }

/* Fin Footer */
/* Inicio Sección Turnos */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

.container-turnos {
  display: flex;
  justify-content: center; }
  .container-turnos .parrafo-turnos {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-family: Lovelace-Italic-Bold;
    color: black;
    padding: 100px; }
  .container-turnos a {
    display: flex;
    justify-content: center; }
    .container-turnos a .wp-turnos {
      width: 10%; }

/* Fin Sección Turnos */
/* Fin Sección Turnos */
/* Inicio Vista Mobile */
.nav-mobile {
  background-color: #e9d9c4;
  height: 4.6875rem;
  width: 90%;
  list-style: none; }

.nav-mobile li {
  list-style: none; }

.nav-mobile ul li a {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; }

.icono-info-mb {
  width: 10%;
  height: 10%; }

.icono-tips-mb {
  width: 10%;
  height: 10%; }

/* Fin Vista Mobile */
/* Inicio  @media queries */
@media screen and (max-width: 575.98px) {
  nav {
    display: none; }
  .nav-mobile {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    padding: none; }
  .nav-mobile ul {
    display: flex;
    justify-content: space-between; }
  .logo-nav-mobile {
    font-family: Lovelace-Italic-Bold;
    color: #5d4b2b;
    font-size: 35px;
    font-weight: 800;
    display: flex;
    justify-content: start;
    margin-left: 1rem; }
  .icono-info-mb {
    display: flex;
    width: 80%;
    height: auto;
    max-width: 2.5rem;
    min-width: 1.875rem;
    margin-top: 2.81rem;
    margin-left: 4.18rem;
    padding: auto; }
  .icono-tips-mb {
    display: flex;
    width: 80%;
    height: auto;
    max-width: 2.5rem;
    min-width: 1.875rem;
    margin-top: 2.62rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: auto; }
  .icono-turnos-mb {
    display: flex;
    width: 80%;
    height: auto;
    max-width: 2.5rem;
    min-width: 1.875rem;
    margin-top: 2.72rem;
    margin-right: 8rem;
    padding: auto; }
  .carrusel-mobile {
    display: flex; }
  .frase-imagen1, .frase-imagen3, .carrusel1, .carrusel2, .carrusel3 {
    display: none; }
  .carrusel3 {
    display: none; }
  .carrusel1mb {
    max-width: fit-content; }
  .titulo-principal-promo {
    display: flex;
    text-align: center;
    font-size: 40px;
    margin: auto;
    padding-top: auto; }
  .contenedor-promociones {
    grid-template-areas: "columna1" "columna2" "columna3";
    row-gap: -300px;
    margin-left: -1.25rem;
    padding: none;
    background-color: #e9d9c4;
    align-items: center;
    justify-content: center;
    margin: auto;
    row-gap: 50px; }
  .imagen-promo1, .imagen-promo2, .imagen-promo3 {
    height: auto;
    width: 18.75rem;
    max-height: 18.75rem;
    max-width: 18.75rem;
    margin: auto;
    padding: auto;
    grid-area: imagen-promo1; }
  .texto-promo1,
  .texto-promo2,
  .texto-promo3,
  .nombre-promo,
  .btn-precio {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1.25rem 0.62rem;
    padding: auto; }
  .contenedor-nosotros {
    display: none; }
  .titulo-principal-nosotros {
    display: none; }
  .container-nosotros-mb {
    display: flex;
    margin-top: 1.25rem; }
  .titulo-principal-nosotros-mb {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: black;
    font-size: 40px;
    font-family: Lovelace-Italic-Bold;
    font-style: oblique;
    font-weight: lighter; }
  .parrafo-nosotros-mb {
    display: flex;
    text-align: center;
    margin-top: 0.5rem;
    font-family: Lovelace-Italic-Bold;
    font-size: 18px;
    padding: 25px; }
  .contenedor-tips-mb {
    display: grid;
    grid-template-areas: "columna1" "columna2" "columna3";
    margin-left: -1.25rem;
    padding: none;
    background-color: #e9d9c4;
    align-items: center;
    justify-content: center;
    margin: auto;
    row-gap: 50px; }
  .imagen-tips1, .imagen-tips2, .imagen-tips3 {
    position: relative;
    display: grid;
    height: auto;
    width: 18.75rem;
    max-height: 18.75rem;
    max-width: 18.75rem;
    margin: auto;
    padding: auto; }
  .titulo-principal-tips {
    display: none; }
  .subtitulo-principal-tips {
    display: none; }
  .titulo-principal-tips-mb {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: black;
    font-size: 40px;
    font-family: Lovelace-Italic-Bold;
    font-style: oblique;
    font-weight: lighter; }
  .subtitulo-tips-mb {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 25px;
    padding-bottom: 45px;
    font-size: 25px;
    font-family: Lovelace-Italic-Bold;
    font-style: oblique;
    font-weight: lighter;
    color: #5d4b2b; }
  .nombre-tip-mb {
    font-family: Lovelace-Italic-Bold;
    font-size: 20px;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    margin: 1.25rem 0.62rem; }
  .texto-tip-mb {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1.25rem 0.62rem;
    padding: auto;
    font-family: Lovelace-Italic-Bold; }
  .contenedor-tips1, .contenedor-tips2, .contenedor-tips3 {
    display: none; }
  .contenedor-inspo {
    display: none; }
  .pie-de-pagina {
    display: none; }
  .pie-de-pagina-mb {
    background: #bba88e;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: auto; }
  .pie-de-pagina-mb div a {
    display: flex;
    justify-content: space-around; }
  .pie-de-pagina-mb div {
    text-align: center; }
  .contactanos-mb {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-area: contactanos-mb;
    margin: auto; }
  .ig-footer-mb {
    margin-top: 45px;
    padding: auto;
    width: 100%;
    max-width: 2.25rem;
    display: flex;
    grid-area: ig-footer-mb; }
  .wp-footer-mb {
    width: 10%;
    max-width: 1.25rem;
    display: flex; }
  .derechos {
    margin-top: 200px;
    text-align: center; }
  .parrafo-turnos {
    font-size: 18px; } }

/* Fin @media queries */
/* Inicio Fuentes */
@font-face {
  font-family: Lovelace-Bold-Italic;
  src: url(/multimedia/fonts/lovelace/Lovelace-Bold-Italic.ttf); }

@font-face {
  font-family: Lovelace-Regular;
  src: url(/multimedia/fonts/lovelace/Lovelace-Regular.ttf); }

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(/multimedia/fonts/montserrat/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: Montserrat-Regular;
  src: url(/multimedia/fonts/montserrat/Montserrat-Regular.ttf); }

/* Fin Fuentes */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

body {
  background-color: #e9d9c4; }

.nav-mobile, .icono-info-mb, .icono-tips-mb, .carrusel-mobile, .container-nosotros-mb, .titulo-principal-nosotros-mb, .parrafo-nosotros-mb, .contenedor-promociones-mb, .contenedor-tips-mb, .titulo-principal-tips-mb, .subtitulo-tips-mb, .texto-tip-mb, .pie-de-pagina-mb, .ig-footer-mb, .wp-footer-mb, .contactanos-mb {
  display: none; }
