/* Inicio Inspo */

.contenedor-inspo {
    background-color: rgb(219, 200, 174);
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
  }
  .inspo {
    height: auto;
    width: auto;
    max-height: 1200px;
    max-width: 1200px;
    margin-top: -600px;
    margin-left: -40px;
  }
  
  /* Fin Inspo */