/* Inicio Sección Turnos */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.container-turnos {
    display: flex;
    justify-content: center;
    .parrafo-turnos {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-family: Lovelace-Italic-Bold;
    color: black;
    padding: 100px;
    }

    a {
        display: flex;
        justify-content: center;

        .wp-turnos {
            width: 10%;
        }
        
    }

  }

  /* Fin Sección Turnos */