/* Inicio Fuentes */
@font-face {
    font-family: Lovelace-Bold-Italic;
    src: url(/multimedia/fonts/lovelace/Lovelace-Bold-Italic.ttf);
  }
  @font-face {
    font-family: Lovelace-Regular;
    src: url(/multimedia/fonts/lovelace/Lovelace-Regular.ttf);
  }
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url(/multimedia/fonts/montserrat/Montserrat-SemiBold.ttf);
  }
  @font-face {
    font-family: Montserrat-Regular;
    src: url(/multimedia/fonts/montserrat/Montserrat-Regular.ttf);
  }

  /* Fin Fuentes */